<!DOCTYPE html>
<html lang="en">
  <head>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h1>Clasify business vs. personal tweets!</h1>

        <div class="col-md-6">
        <form action="{% url 'polls:index' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="OK">
        </form>

        {% for tweet in tweets %}
            <div class="tweet"> {{ tweet.text }} ==> {{ tweet.label }}</div><br>
        {% endfor %}
      
    </div>
  </body>
</html>
